@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0, 0.7);
  text-decoration: none !important;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 98%;
}
:root {
  --color-primary: 63, 128, 234;
}
.bg-primary {
  background-color: rgb(63, 128, 234) !important;
}
.bg-secondary {
  background-color: #e0eafc !important;
}
.bg-dark {
  background-color: #293042 !important;
}
.bg-tertiary {
  background-color: rgb(239, 242, 246);
}
.bg-success {
  background-color: rgb(75, 191, 115) !important;
}
.bg-success-light {
  background-color: rgba(75, 191, 115, 0.175) !important;
}
.bg-warning {
  background-color: rgb(229, 165, 75) !important;
}
.bg-danger {
  background-color: #dc3545;
}
.bg-danger-light {
  background-color: rgba(217, 83, 79, 0.175);
}
.text-primary {
  color: rgb(var(--color-primary)) !important;
}
.text-success {
  color: #4bbf73 !important;
}
.text-danger {
  color: #d9534f !important;
}
.container-fluid {
  background-color: #f6f8fb;
}
strong {
  font-weight: 500;
}
/* ------------------------- sidebar start --------------------- */
aside {
  height: 100vh;
  width: 280px;
  margin-left: -280px;
  transition: all 0.5s;
  z-index: 9999;
}
aside.active {
  margin-left: 0;
}
aside a,
aside i {
  color: rgb(255, 255, 255, 0.4);
  font-size: 0.875rem;
}
aside a:hover,
aside li:hover a,
aside a:hover i {
  color: rgb(255, 255, 255, 0.6);
}
aside::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
aside::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0);
  transition: all 1s;
}
aside:hover::-webkit-scrollbar-thumb {
  transition: all 5s;
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 5px;
}
@media (width >= 568px) {
  .sticky-sm-top {
    position: sticky !important;
  }
  aside {
    width: 320px;
    margin-left: -320px;
  }
}
/* ------------------------- sidebar end --------------------- */

/* ------------------------ navbar start ------------------------ */
input[type="search"],
input[type="search"]:focus {
  background-color: #f3f6fb;
  border: none;
  box-shadow: none;
}
.search-btn {
  background-color: #f3f6fb;
}
.btn:focus {
  box-shadow: none;
}
.head-icon .comment {
  width: 20px;
  height: 20px;
}
.nav-img .dropdown-menu[data-bs-popper] {
  left: -32px;
}
/* ------------------------ navbar end ------------------------ */

/* ------------------------ card start ------------------------ */
.card-icon {
  width: 48px;
  height: 48px;
  line-height: 55px;
  background-color: #e0eafc;
}
/* ------------------------ card end ------------------------ */

/* ------------------------ calender-sec start ------------------ */
.appoints div::before {
  content: "";
  position: absolute;
  top: 0;
  left: -11px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid rgb(var(--color-primary));
}
/* doughnut */
@media (min-width: 768px) {
  .doughnut {
    height: 250px !important;
  }
}
/* ----------------------- calender-sec end --------------------- */

/* --------------------------------- chat-box start -------------------- */
/* --------------------------------- chat-box start -------------------- */
.message {
  padding: 1rem;
  background-color: rgb(239, 242, 246);
}
/* --------------------------------- chat-box end -------------------- */
/* --------------------------------- chat-box end -------------------- */

/* --------------------------------- analytics start -------------------- */
/* --------------------------------- analytics start -------------------- */
.analytics-table-1 tr td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.analytics-table tr td {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
/* --------------------------------- analytics end -------------------- */
/* --------------------------------- analytics end -------------------- */
